.page {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20mm;
    page-break-after: always;
    position: relative;
    background-color: white;
  
    /* border: 1px solid black; */
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  
  .top {
    margin-left: 50px;
  }
  
  .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mid h2, .mid h3, .mid h4 {
    margin: 5px;
  }
  
  .solidDivider {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
  }